<% provide(:title, "Sign In") %>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">

      <div class="DeviseForm">
          <h1 align="center">Book Records <br>
           Management System</h1>
          <h3>Log in</h3>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in",class: "btn btn-primary btn-block" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>

    </div>

    <div class="col-md-3"></div>

  </div>
</div>
